# DataFrame Creation :

A `DataFrame` is a powerful and convenient data structure provided by the pandas library. It is a 2D table-like structure, similar to a spreadsheet or SQL table. Each row represents an individual record and each column represents a different attribute.

In this solution, we aim to convert a 2D list into a pandas DataFrame. This is a common application of the `pandas library` for when we have raw data in list format and want to convert it to a more structured, labeled format for easier analysis.

### Key Concepts :

- `2D List`: A list of lists where each inner list represents a row of data.
- `Dictionary` : Dictionary Can Have The column header as key and store column elements in form of the list or other data structure.
- `DataFrame`: A 2-dimensional labeled data structure in pandas.
  
### Syntax with Explanations :

- `Importing pandas`:
Python import pandas as pd This line imports the pandas library and gives it an alias name pd. The pandas library provides fast, flexible, and expressive data structures designed to work with structured (tabular, multidimensional, potentially heterogeneous) data.
- `Using pd.DataFrame()`:
- Syntax :
```python
pd.DataFrame(given_data)
# This will allow us to transform our 2D list into a DataFrame.
 ```

In [1]:
import pandas as pd 
# Importing pandas library using 'Import' Keyord

In [2]:
given_data={
    "Name" :["Atharva","Pranav","Bhushan","Sairaj"],
    "Roll Number":[74,86,73,92]
}
# Given Data In the Form of Nested Dictionary with Column header as Key and Column in the List as a Element.

In [3]:
# Creating DataFrame Using Given_Data (Column Headers : Name , Roll Number and Columns : Atharva,Pranav....or 74,73,86... )
df=pd.DataFrame(given_data)  # Passing given_data (Nested Dictionary) as a parameter

In [4]:
df

      Name  Roll Number
0  Atharva           74
1   Pranav           86
2  Bhushan           73
3   Sairaj           92

## Another Example
In this Example we separately defined Column headers and than assinged them to the DataFrame df_two using the follwing syntax :

- `Syntax`:
```python
dataframe_name =pd.DataFrame(Object,columns=column_headers)
# object : list,dictionary,etc.
```

In [5]:
student_data=[
    [1,15],
    [2,16],
    [3,17],
    [4,18],
    [5,19],
    [6,20]
]
# Given Data is the Form of Nested List ,Inner List Consist of student ID as First Field And second Feild Is Student Roll Number.

In [6]:
# Declaring Column Header Separately in the Form of List
column_headers=[ "Student ID","Roll Number"]

In [7]:
df_two=pd.DataFrame(student_data,columns=column_headers)
# Passing given_data (Nested List) as a parameter

In [8]:
df_two

   Student ID  Roll Number
0           1           15
1           2           16
2           3           17
3           4           18
4           5           19
5           6           20

# Note :
- In the DataFrame The First Column is The Index(Starts From Zero) you access or retrive data using index of the data field.
- It is Default in the data frame ,you can remove it if you wish.