# Get Size of the DataFrame : 

To return the number of rows and columns present in the players DataFrame.

- `Key Concepts` : - Attribute: In Python's pandas library, an attribute refers to a property or characteristic of an object that helps describe the object's state or its meta-information. Attributes in pandas are used to access various properties of DataFrame or Series objects, allowing users to retrieve meta-information or underlying data without performing a computation or causing side effects. - shape attribute: Returns the dimensions of the DataFrame or Series in the form of a tuple (rows, columns).

- `Intuition` :
Here's a step-by-step breakdown of the solution:

1. `Importing the Required Library` :

We first need to import the pandas library, which is a powerful tool in Python for data manipulation and analysis.
```python
import pandas as pd
```
3. `Using the shape attribute `:

- Every DataFrame in pandas has a shape attribute. When you call it, it returns a `tuple (number of rows, number of columns)`. In our case, for the given `players DataFrame`, the shape would be `(10, 5)` because there are 10 players and 5 attributes for each player.

4. `Returning Number Rows And Column Using List`:
```python
[players.shape[0], players.shape[1]]
```
`players.shape[0]` gives the number of rows in the DataFrame players.
`players.shape[1]` gives the number of columns in the DataFrame players.
This line thus returns a list containing these two values: `[players.shape[0], players.shape[1]]`.

In [1]:
import pandas as pd
# Importing pandas library using 'Import' Keyord

In [4]:
data = [
    {"player_id": 846, "name": "Mason", "age": 21, "position": "Forward", "team": "Real Madrid"},
    {"player_id": 749, "name": "Riley", "age": 30, "position": "Winger", "team": "Barcelona"},
    {"player_id": 155, "name": "Bob", "age": 28, "position": "Striker", "team": "Manchester United"},
    {"player_id": 583, "name": "Isabella", "age": 32, "position": "Goalkeeper", "team": "Liverpool"},
    {"player_id": 388, "name": "Zachary", "age": 24, "position": "Midfielder", "team": "Bayern Munich"},
    {"player_id": 883, "name": "Ava", "age": 23, "position": "Defender", "team": "Chelsea"},
    {"player_id": 355, "name": "Violet", "age": 18, "position": "Striker", "team": "Juventus"},
    {"player_id": 247, "name": "Thomas", "age": 27, "position": "Striker", "team": "Paris Saint-Germain"},
    {"player_id": 761, "name": "Jack", "age": 33, "position": "Midfielder", "team": "Manchester City"},
    {"player_id": 642, "name": "Charlie", "age": 36, "position": "Center-back", "team": "Arsenal"}
]
# Given Data In the Form of Nested List with Dictionary in it. Column header as Key and Column contains there Elements.

In [7]:
df = pd.DataFrame(data) # Passing Data (Nested List with Dictionary) as a parameter  
# Creating DataFrame Using Data

In [8]:
df

   player_id      name  age     position                 team
0        846     Mason   21      Forward          Real Madrid
1        749     Riley   30       Winger            Barcelona
2        155       Bob   28      Striker    Manchester United
3        583  Isabella   32   Goalkeeper            Liverpool
4        388   Zachary   24   Midfielder        Bayern Munich
5        883       Ava   23     Defender              Chelsea
6        355    Violet   18      Striker             Juventus
7        247    Thomas   27      Striker  Paris Saint-Germain
8        761      Jack   33   Midfielder      Manchester City
9        642   Charlie   36  Center-back              Arsenal

In [9]:
size=[df.shape[0],df.shape[1]]
# Intializing Size of the DataFrame'df' using shape 'attribute'

In [10]:
size

[10, 5]

### Size of the Data Frame is [10,5].
- `Summary`:
   - `df.shape[0]` : Returns Number of Rows in the DataFrame.
   - `df.shape[1]` : returns number of Columns in the List.
      
**i.e its Consist of 10 rows and 5 column**

# Method 2 :

## Using axes[] Attribute :
- The task appears to involve finding the size of a DataFrame, which likely means determining the number of rows and columns it contains. This can be accomplished using Pandas DataFrame attributes.

- `Approach`
To find the number of rows and columns in the DataFrame, we can use the axes attribute of the DataFrame object. The `axes[0]` gives the row axis and `axes[1]` gives the column axis. We'll simply take the length of these axes to find the number of rows and columns.

In [11]:
# Already have DataFrame 
df

   player_id      name  age     position                 team
0        846     Mason   21      Forward          Real Madrid
1        749     Riley   30       Winger            Barcelona
2        155       Bob   28      Striker    Manchester United
3        583  Isabella   32   Goalkeeper            Liverpool
4        388   Zachary   24   Midfielder        Bayern Munich
5        883       Ava   23     Defender              Chelsea
6        355    Violet   18      Striker             Juventus
7        247    Thomas   27      Striker  Paris Saint-Germain
8        761      Jack   33   Midfielder      Manchester City
9        642   Charlie   36  Center-back              Arsenal

In [12]:
rows=len(df.axes[0])
# axes[0] is use to access the rows using index we simply calculate length of the row

In [13]:
column=len(df.axes[1])
# axes[0] is use to access the column using index,we simply calculate length of the column

In [14]:
print(f"Number of Rows in the DataFrame : {rows}")
print(f"Number of Column in the DataFrame : {column}")

Number of Rows in the DataFrame : 10
Number of Column in the DataFrame : 5

### This how we can get the size or the length of the rows and column