# Changing DataType : 

we have a DataFrame named students that contains student data. However, the grades are stored as floats instead of integers. The goal is to change the grade type from floats to integers.

- `Key Concepts`:

- `astype Function`: The astype function is used to cast a pandas object to a specified dtype (data type). astype can be used to cast a pandas object to any dtype. The astype function does not modify the original DataFrame in place. Instead, it returns a new DataFrame with the specified data type changes. If you want to reflect changes in the original DataFrame, you need to reassign the result back to it or use the copy parameter accordingly.

-  The function’s syntax is:

```python
DataFrame.astype(dtype, copy=True, errors='raise')
```
Where:

- `dtype`: It's a data type, or dict of column name -> data type.
- `copy`: By default, astype always returns a newly allocated object. If copy is set to False, a new object will only be created if the old object cannot be casted to the required type.
- `errors`: Controls the raising of exceptions on invalid data for the provided dtype. By default, raise is set which means exceptions will be raised.

So in our case we want to cast the grade column from float to int and we can do so with the following line:

```python
students = students.astype({'grade': int})
```
- `Intuition` :

In the provided solution:
```python
students = students.astype({'grade': int})
```
`This line is casting the grade column from float to int.`

Let’s go step by step through the provided solution:

- `Importing pandas`: python import pandas as pd This line imports the pandas library and gives it an alias name pd. The pandas library provides fast, flexible, and expressive data structures designed to work with structured (tabular, multidimensional, potentially heterogeneous) data.

- `Changing Data Type of a Column` : `python students = students.astype({'grade': int})` This line of code is the heart of the solution. It changes the data type of the grade column to integer using the astype function. The` {'grade': int} `is a dictionary where the key is the column name and the value is the desired data type.

### Output :

- DataFrame you passed to the functions :

| student_id | name | age | grade |
|------------|------|-----|-------|
| 1          | Ava  | 6   | 73.0  |
| 2          | Kate | 15  | 87.0 
- It will return :

| student_id | name | age | grade |
|------------|------|-----|-------|
| 1          | Ava  | 6   | 73    |
| 2          | Kate | 15  | |
5	87

In [1]:
import pandas as pd
# Importing pandas library using 'Import' Keyord

In [2]:
# Create the DataFrame
data = {
    'student_id': [1, 2],
    'name': ['Ava', 'Kate'],
    'age': [6, 15],
    'grade': [73.0, 87.0]
}

In [3]:
# Convert the list of dictionaries to a pandas DataFrame
student_df = pd.DataFrame(data)

In [4]:
student_df

   student_id  name  age  grade
0           1   Ava    6   73.0
1           2  Kate   15   87.0

In [6]:
student_df=student_df.astype({'grade': int})

In [7]:
student_df

   student_id  name  age  grade
0           1   Ava    6     73
1           2  Kate   15     87

### This is My you can Type Cast the columns Use astype Functions