# Droping Missing Data :

Handling of missing data in a pandas DataFrame representing student information. Specifically, there are some rows in the name column that have missing values (None or NaN). The objective is to remove those rows with missing names from the DataFrame using the dropna function of pandas.

- `Key Concepts` : 1. dropna Function: The dropna function belongs to the pandas DataFrame and is used to remove missing values. Missing data in pandas is generally represented by the NaN (short for Not a Number) value, though in your example it appears as None which is also considered a missing value by pandas.

Here's the general usage of the dropna function:
```python
DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

```
- `Dropna Function Argument Definition`:
  
- `axis`: It can be `{0 or 'index', 1 or 'columns'}`. By default it's 0. If `axis=0`, it drops rows which contain missing values, and if axis=1, it drops columns which contain missing value.
- `how`: Determines if row or column is removed from DataFrame, when we have at least one NA or all NA.
- `how ='any'` : If any NA values are present, drop that row or column (default).
- `how ='all' `: If all values are NA, drop that row or column.
- `thresh`: Require that many non-NA values. This is an integer argument which requires a minimum number of non-NA values to keep the row/column.
- `subset`: Labels along the other axis to consider, e.g. if you are dropping rows these would be a list of columns to include. This is particularly useful when you only want to consider NA values in certain columns.
- `inplace`: It's a boolean which makes the changes in data frame itself if True. Always remember when using the `inplace=True `argument, you're modifying the original DataFrame. If you need to retain the original data for any reason, avoid using `inplace=True` and instead assign the result to a new DataFrame.

- `Intuition`:
- 
We are only considering the name column, so we set `subset=['name']`. This argument tells `dropna` to consider only the name column when looking for missing values. So, only rows where the name column has missing values will be dropped.
We need to modify the original DataFrame, so set `inplace=True`. By setting inplace to True, we're modifying the original students DataFrame directly. If you set it to False (or omitted it), then a new DataFrame with the dropped rows would be returned, and the original students DataFrame would remain unchanged.
```python
students.dropna(subset=['name'], inplace=True)
```

In [1]:
import pandas as pd
# Importing pandas library using 'Import' Keyord

In [2]:
# Define the student data as a list of dictionaries
student_data = [
    {"student_id": 32, "name": "Piper", "age": 5},
    {"student_id": 217, "name": "Grace", "age": 19},
    {"student_id": 779, "name": None, "age": 20},
    {"student_id": 849, "name": None, "age": 14}
]

In [3]:
# Convert the list of dictionaries to a pandas DataFrame
student_df = pd.DataFrame(student_data) # Passing student_data as parameter

In [4]:
# Display the DataFrame
student_df

   student_id   name  age
0          32  Piper    5
1         217  Grace   19
2         779   None   20
3         849   None   14

In [5]:
student_df.dropna(subset=['name'], inplace=True)
# Drop Rows with Undefined Datatypes or value

In [6]:
student_df
# Printing student_df after Droping Missing Values

   student_id   name  age
0          32  Piper    5
1         217  Grace   19

## This is How you Drop missing Value in the Dataframes