# Filling Missing Values :
 
We have a DataFrame named products that contains product data. However, some of the quantity data is missing. The goal is to fill the missing quantity data with the value of 0.

- `Key Concepts`:

1. `fillna Function` : fillna is a function in the pandas library, used primarily with pandas Series and DataFrame objects. It allows you to fill NA/NaN values using specified methods. In this context, we are using it to replace the None (or NaN in the usual dataframe representation) values.

2. `fillna Function Argument Definition`:

- The fillna function has several arguments that you can utilize, but we'll focus on the most commonly used ones:

    - `value`: Scalar, dict, Series, or DataFrame. The value to use to fill holes (e.g. 0). This is what we use in our solution.

    - `method`: `{‘backfill’, ‘bfill’, ‘pad’, ‘ffill’, None}`. Method to use for filling holes in reindexed Series. Default is None.

    - `axis`: `{0 or ‘index’, 1 or ‘columns’}`. Axis along which to fill missing values.

    - `inplace`: Bool. If True, fills in place. Note: this will modify any other views on this object. Default is False.

- Intuition

we use:

```python

products['quantity'].fillna(0, inplace=True)
```
Since we are trying to fill missing data from the quantity column of the products DataFrame, we apply the fillna function to `products['quantity']`.
Since we want to replace missing values (NaN or None) with 0, we use the value argument as 0.
Finally, we want to return the original DataFrame, so we set inplace=True to modify the original DataFrame directly without returning a new one. Note that if you don't use inplace=True, you would have to capture the result like this: 

```python
products['quantity'] = products['quantity'].fillna(0)
```
When you pass the following DataFrame to this function:

| name            | quantity | price |
|-----------------|----------|-------|
| Wristwatch      | 32       | 135   |
| WirelessEarbuds | 0        | 821   |
| GolfClubs       | 0        | 9319  |
| Printer         | 849      | 3051  |


It will return:

| name            | quantity | price |
|-----------------|----------|-------|
| Wristwatch      | 32       | 135   |
| WirelessEarbuds | None     | 821   |
| GolfClubs       | None     | 9319  |
| Printer         | 849      | 3051  |

In [1]:
import pandas as pd
# Importing pandas library using 'Import' Keyord

In [2]:
raw_data = {
    'name': ['Wristwatch', 'WirelessEarbuds', 'GolfClubs', 'Printer'],
    'quantity': [32, None, None, 849],
    'price': [135, 821, 9319, 3051]
}
# Define the data as a Nested dictionary

In [4]:
# Create DataFrame with raw_data
df = pd.DataFrame(raw_data)# passing Nested dictionary as parameter

In [5]:
df

              name  quantity  price
0       Wristwatch      32.0    135
1  WirelessEarbuds       NaN    821
2        GolfClubs       NaN   9319
3          Printer     849.0   3051

In [7]:
df['quantity'].fillna(0,inplace=True)
# in subset 'quantity' replacing the NaN by Zero So that all numeric operations can be performed throughout the row

In [8]:
df

              name  quantity  price
0       Wristwatch      32.0    135
1  WirelessEarbuds       0.0    821
2        GolfClubs       0.0   9319
3          Printer     849.0   3051

# This is How YOU Fill Missing values